<% if @park %>
<div style="padding:20px;">
  <h3><%= @park.name %>'s Features</h3>
    <ol>
      <% @park.features.each do |feature| %>
        <li>
          <%= link_to feature.name, feature_path(feature) %>
          <ul>
            <li>Rating: <%= feature.rating %> stars</li>
            <li>Comments: <%= feature.comment %></li>
          </ul>
        </li>
      <% end %>
    </ol>
    <!-- <div><%= button_to "Add a Park Feature", new_park_feature_path(@park), method: :get, class: 'btn btn-info btn-md float-xl-none', :id => "new_feature"  %></div> -->
    <!-- <h3><%= link_to "Add a Park Feature", new_park_feature_path(@park), :id => "new_feature" %></h3> -->

  </div>
<% end %>
