<% if @park %>
<div style="padding:20px;">
  <h1><%= @park.name %>'s Features</h1>
    <ol>
      <% @park.features.each do |feature| %>
        <li>
          <%= link_to feature.name, feature_path(feature) %>
          <ul>
            <li>Rating: <%= feature.rating %> stars</li>
            <li>Comments: <%= feature.comment %></li>
          </ul>
        </li>
      <% end %>
    </ol>
    <div><%= button_to "Add a Park Feature", new_park_feature_path(@park), method: :get, class: 'btn btn-info btn-md float-xl-none' %></div>
  </div>
<% end %>
